[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
requests = "*"
django-allauth = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.13"
